.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6em;
  color: white;
  background-color: #000;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  background-color: #000;
  text-align: center;
}


.container {
  width: 100%;
  max-width: 800px;
  padding: 10px;
  justify-content: center; 
  align-items: center;
  justify-content: flex-start;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.select-container {
  margin-bottom: 20px;
  margin-right: 20%;
}

.condition-container {
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
}


.select-container:last-child,
.condition-container:last-child {
  margin-bottom: 0;
}

.query-container {
  margin-bottom: 20px;
}

.space {
  margin-top: 100px;
}

.submit-container {
  display: flex;
  justify-content: center;
}

.sql-query-input {
  width: 100%;
  resize: vertical;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .form-container {
    flex-direction: column;
  }
}
